@model IEnumerable<BeautiesAndBarbers.Models.Business>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slogan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBarberShop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHairSalon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDisabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressInfoHidden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slogan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBarberShop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHairSalon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Banner))
            {
                <img src="@Url.Content(item.Banner)"
                     alt="Banner"
                     style="width:100px;height:100px;max-width:100%; height:auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDisabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressInfoHidden)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusinessId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusinessId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusinessId })
        </td>
    </tr>
}

</table>
