@model BeautiesAndBarbers.Models.ClientList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeService.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeService.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeService.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeService.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListStatus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
